global:
  options:
    useCSV: False
    syncPolicy: Automatic
    installPlanApproval: Automatic

clusterGroup:
  name: region-one

  proposedOptions:
    manageGitops: False
    isHubCluster: False

  namespaces:
    - multicloud-gitops-region-one
    - ansible-automation-platform
    - vault-external-secrets

  subscriptions:
    - name: ansible-automation-platform-operator
      namespace: ansible-automation-platform
      channel: stable-2.1
      csv: aap-operator.v2.1.0-0.1639138915


  projects:
    - ansible-automation-platform
    - vault-external-secrets

  applications:
    - name: ansible
      project: ansible-automation-platform
      path: region/aap

    - name: vault-external-secrets
      project: vault-external-secrets
      path: common/external-secrets

#
#  To have apps in multiple flavors, use namespaces and use helm overrides as appropriate
#
#  - name: pipelines
#    namespace: production
#    project: datacenter
#    path: applications/pipeline
#    repoURL: https://github.com/you/applications.git
#    targetRevision: stable
#    overrides:
#    - name: myparam
#      value: myparam
#
#  - name: pipelines
#    namespace: staging
#    project: datacenter
#    path: applications/pipeline
#    repoURL: https://github.com/you/applications.git
#    targetRevision: main
#
#   Additional applications
#   Be sure to include additional resources your apps will require
#   +X machines
#   +Y RAM
#   +Z CPU
#  - name: vendor-app
#    namespace: default
#    project: vendor
#    path: path/to/myapp
#    repoURL: https://github.com/vendor/applications.git
#    targetRevision: main

#  managedSites:
#  - name: factory
#    # repoURL: https://github.com/dagger-refuse-cool/manuela-factory.git
#    targetRevision: main
#    path: applications/factory
#    helmOverrides:
#    - name: site.isHubCluster
#      value: false
#    clusterSelector:
#      matchExpressions:
#      - key: vendor
#        operator: In
#        values:
#          - OpenShift
