[defaults]
display_skipped_hosts=False
localhost_warning=False
library=./plugins/modules:~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
roles_path=./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
callbacks_enabled = profile_roles, profile_tasks
