main:
  gitops:
    channel: "gitops-1.12"

global:
  extraValueFiles: []
  pattern: none
  repoURL: none
  targetRevision: main
  options:
    applicationRetryLimit: 20
  secretStore:
    backend: "vault"

clusterGroup:
  subscriptions:
    acm:
      source: redhat-operators
  managedClusterGroups:
#    testRegion:
#      name: region-one
#      clusterPools:
#        testPool:
#          name: spoke
#          openshiftVersion: 4.10.18
#          provider:
#            region: ap-southeast-2
#            baseDomain: blueprints.rhecoeng.com
#          clusters:
#          - spoke1
#      labels:
#      - name: clusterGroup
#        value: region-one

acm:
  # Just used for IIB testing, drives the source and channel for the MCE
  # subscription triggered by ACM
  mce_operator:
    source: redhat-operators
    channel: null



secretStore:
  name: vault-backend
  kind: ClusterSecretStore
