apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  labels:
    operators.openshift.org/catalog: "true"
  name: iib-{{ iib }}
spec:
  imageDigestMirrors:
{% for item in image_urls.values() %}
    - mirrors:
        - {{ item.mirrordest_nosha }}
      source: {{ item.source_nosha }}
      mirrorSourcePolicy: AllowContactingSource
    - mirrors:
        - {{ item.mirrordest_nosha }}
      source: {{ item.image_nosha }}
      mirrorSourcePolicy: AllowContactingSource
{% endfor %}
