[defaults]
display_skipped_hosts=False
localhost_warning=False
library=./plugins/modules:~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
roles_path=./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
module_utils=~/.ansible/plugins/module_utils:./plugins/module_utils:/usr/share/ansible/plugins/module_utils
filter_plugins=~/.ansible/plugins/filter:./plugins/filter:/usr/share/ansible/plugins/filter
