apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: iib-{{ iib }}
  namespace: {{ internal_registry_ns }}
spec:
  image: {{ mirror_iib }}:{{ iib }}
  sourceType: grpc
  displayName: IIB {{ iib }}
