apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  labels:
    operators.openshift.org/catalog: "true"
  name: iib-{{ item.value['iib'] }}
spec:
  imageDigestMirrors:
{% for data in image_urls.values() %}
    - mirrors:
        - {{ data.mirrordest_nosha }}
      source: {{ data.source_nosha }}
      mirrorSourcePolicy: AllowContactingSource
    - mirrors:
        - {{ data.mirrordest_nosha }}
      source: {{ data.image_nosha }}
      mirrorSourcePolicy: AllowContactingSource
{% endfor %}
